# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Create a table indicating three development environment open source tools used in Data Science
- Make mathemetical operations using code

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
| ---------------- |
|Jupyter Notebooks |
|Jupyter Labs      |
|RStudio           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Alexandra Monarrez Aguilar